<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<nav class="navbar"></nav>
    <!-- hero section -->
<header class="hero-section">
    <div class="content">
        <img src="img/light-logo.png" class="logo" alt="">
        <p class="sub-heading">best fashion collection of all time</p>
    </div>
</header>

<body>
</section>
<!-- collections -->
<section class="collection-container">
    <a href="#" class="collection">
        <img src="../img/women-collection.png" alt="">
        <p class="collection-title">women <br> apparels</p>
    </a>
    <a href="#" class="collection">
        <img src="../img/men-collection.png" alt="">
        <p class="collection-title">men <br> apparels</p>
    </a>
</section>
    <section class="product">
        <h2 class="product-category">best selling</h2>
       
    <div class="product-container" th:each="prod: ${productList}">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="img/card6.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand" th:text="${prod.name}">default Brand</h2>
                <p class="product-short-des">a short line about the cloth..</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
    </div>

</body>
<footer></footer>

<script src="../js/footer.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/home.js"></script>

</html>